<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/cslogo.jpg" height="60" title="National Parks Tips" alt=""></td>
        <td><a href="{{site.baseurl}}/national_parks/home">National Parks</a></td>
        <td><a href="{{site.baseurl}}/national_parks/buck_reef">Buck Reef</a></td>
        <td><a href="{{site.baseurl}}/national_parks/GrandCanyon">Grand Canyon</a></td>
        <td><a href="{{site.baseurl}}/national_parks/redwood">Redwood</a></td>
        <td><a href="{{site.baseurl}}/github/pages/national_parks/page4"></a>page 4</td>
    </tr>
</table>