<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/frostbyte.png" height="100" alt=""></td>
        <td><a href="{{site.baseurl}}/national_parks/home">National Parks</a></td>
        <td><a href="{{site.baseurl}}/national_parks/buck_reef">Buck Reef</a></td>
        <td><a href="{{site.baseurl}}/national_parks/GrandCanyon">Grand Canyon</a></td>
        <td><a href="{{site.baseurl}}/national_parks/redwood">Redwood</a></td>
        <td><a href="{{site.baseurl}}/github/pages/national_parks/Denali"></a>Denali</td>
    </tr>
</table>