<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/cslogo.jpg" height="60" title="National Parks Tips" alt=""></td>
        <td><a href="{{site.baseurl}}/github/pages/national_parks/home">National Parks</a></td>
        <td><a href="{{site.baseurl}}/national_parks/buck_reef">Buck Reef</a></td>
        <td><a href="{{site.baseurl}}/github/pages/national_parks/page2">Page 2</a></td>
        <td><a href="{{site.baseurl}}/github/pages/national_parks/page3">Page 3</a></td>
        <td><a href="{{site.baseurl}}/github/pages/national_parks/page4"></a>page 4</td>
    </tr>
</table>