<h1>Buck Reef Points of Interest</h1>

<div id="map" style="height: 500px;"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALCBEmY4lxg_h-YsAU1_tX44hoOz9-6D4&callback=initMap" async defer></script>

<script>
    function initMap() {
        const buckReef = { lat: 32.7147, lng: -80.5047 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 12,
            center: buckReef,
        });

        const locations = [
            { lat: 30.2169, lng: -81.3501, title: "Buck Reef", info: "A beautiful reef located in [Location Details]." },
            { lat: 30.2200, lng: -81.3550, title: "Reef Dive Spot", info: "A popular dive spot near Buck Reef." },
            { lat: 30.2250, lng: -81.3400, title: "Buck Reef Viewpoint", info: "A great viewpoint for scenic views of the reef." }
        ];

        locations.forEach(function(location) {
            const marker = new google.maps.Marker({
                position: { lat: location.lat, lng: location.lng },
                map: map,
                title: location.title,
            });

            const infowindow = new google.maps.InfoWindow({
                content: `<h3>${location.title}</h3><p>${location.info}</p>`,
            });

            marker.addListener("click", function() {
                infowindow.open(map, marker);
            });
        });
    }
</script>